<%- include("../header") %>

<div class="container">
  <div class="item w960">
    <form action="/signin" method="post">
      <label for="email">
        <span>Email</span>
        <input type="text" name="email" id="email" />
      </label>
      <label for="password">
        <span>Mật khẩu</span>
        <input type="password" name="password" id="password" />
      </label>
      <button type="submit">
        Đăng nhập
      </button>
    </form>
  </div>
</div>

<%- include("../footer") %>
