<%- include("../header") %>

<form action="signin" method="post" class="container form mb-all">
  <div class="container column w-768">
    <div class="item">
      <h1>
        Đăng Nhập
      </h1>
    </div>
    <div class="item">
      <input type="email" name="email" id="email" class="input"
        placeholder="Email" />
    </div>
    <div class="item">
      <input type="password" name="password" id="password" class="input"
        placeholder="Mật khẩu" />
    </div>
    <div class="item">
      <button type="submit" class="btn primary">
        Đăng Nhập
      </button>
    </div>
  </div>
</form>

<%- include("../footer") %>
