<%- include("../header") %>

<form action="signup" method="post" class="container form mb-all">
  <div class="container column w-768">
    <div class="item">
      <h1>
        Tạo tài khoản
      </h1>
    </div>
    <div class="item">
      <input type="text" name="firstName" id="firstName" class="input"
        placeholder="Tên" />
    </div>
    <div class="item">
      <input type="text" name="lastName" id="lastName" class="input"
        placeholder="Họ" />
    </div>
    <div class="item">
      <input type="email" name="email" id="email" class="input"
        placeholder="Email" />
    </div>
    <div class="item">
      <input type="password" name="password" id="password" class="input"
        placeholder="Mật khẩu" />
    </div>
    <div class="item">
      <input type="password" name="passwordConfirmation"
        id="passwordConfirmation" class="input"
        placeholder="Xác nhận mật khẩu" />
    </div>
    <div class="item">
      <button type="submit" class="btn primary">
        Đăng ký
      </button>
    </div>
  </div>
</form>

<%- include("../footer") %>
