.admin-toolbar {
  background: #5588ff;
  color: white;
}

.admin-toolbar a {
  color: white;
  margin: 0 8px;
}

.admin-toolbar > .container {
  justify-content: flex-end;
}

.postnew #content {
  border-radius: 4px;
  border: 2px solid #ccc;
  width: 100%;
  min-height: 500px;
  padding: 8px 16px;
}

.postnew {
  padding-bottom: 24px;
}

.postnew .bar {
  justify-content: flex-end;
}
