<%- include("../header") %>

<div class="container postnew">
  <div class="container w-768">
    <form class="form">
      <div class="container column">
        <div class="item">
          <input type="text" id="title" placeholder="Tieu de" class="input">
        </div>
        <div class="item">
          <div class="container bar">
            <div class="item">
              <select id="status">
                <option value="draft">Nhap</option>
                <option value="publish">Cong khai</option>
              </select>
            </div>
            <div class="item ml">
              <button id="submit" class="btn primary">
                Luu bai viet
              </button>
            </div>
          </div>
        </div>
        <div class="item">
          <div id="content" contenteditable="true"></div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  var _ = selector => document.querySelector(selector);
  let title = _('#title');
  let status = _('#status');
  let content = _('#content');

  const getPost = (...args) => {
    const post = [...args].reduce((p, a) => {
      p[a.id] = a.value || a.innerHTML;
      return p;
    }, {});

    return post;
  }

  const submit = () => {
    let url = '/posts/create';
    let post = getPost(title, status, content);
    let method = 'POST';

    fetch(url, {
      method,
      body: JSON.stringify(post),
      headers: {
        'Content-Type': 'application/json'
      }
    })
      .then(res => {
        console.log(res);
        return res.json();
      })
      .then(data => {
        window.location.href = data.flag;
      })
      .catch(error => {
        console.log(error);
      });
  }

  _('#submit').addEventListener('click', function(e) {
    e.preventDefault();
    submit();
  });
</script>

<%- include("../footer") %>
