<%- include("header") %>

<div class="container">
  <div class="item menu">
    <ul>
      <li>
        Người dùng
      </li>
      <li>
        Bài viết
      </li>
    </ul>
  </div>
  <div class="item">
    <%- include(yield) %>
  </div>
</div>

<%- include("footer") %>
