<div class="container admin-toolbar">
  <div class="container w-768">
    <div class="item">
      <a href="/posts/new">
        Đăng bài
      </a>
    </div>
    <div class="item">
      <a href="/admin">
        Quản lý
      </a>
    </div>
    <div class="item">
      <a href="/signout">
        Đăng xuất
      </a>
    </div>
  </div>
</div>
